form{
    font-size: 30px;
    color: blue;
}

/* Création du caroussel
En commence par styler carrousel créer ces dimension et sa bordure 
*/
.carousel{
    width: 800px;
    height: 400px;
    position: relative;
    display:  inline-block;
}

.carousel_item{
    width: 800px;
    height: 400px;
    border: solid 4px rgb(97, 14, 14);
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
    display:  inline-block;
}

.carousel_container::after{
    content: "";
    clear: both;
    display: table;
}
